
 <main class="bg-violet-100" style="background-image: url(../assets/images/Circuit-Board4.svg)">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-center text-5xl text-white bg-violet-500 rounded-lg mr-11 ml-11 mt-20 mb-12 p-2">Unassigned Complaints by PinCode-{{pinCode}}</h2>
                <div class="relative overflow-x-auto shadow-md sm:rounded-lg mr-11 ml-11 mb-12 ">
                    <table class="w-full text-base text-left rtl:text-right text-blue-100 dark:text-blue-100">
                        <thead class="text-base text-gray-950 uppercase bg-violet-400  align-text-top text-start">
                            <tr>
                                <th scope="col" class="px-3 py-3">S.No.</th>
                                <th scope="col" class="px-3 py-3">Complaint Id</th>
                                <th scope="col" class="px-3 py-3">Date</th>
                                <th scope="col" class="px-3 py-3">Complaint</th>
                                <th scope="col" class="px-3 py-3">Customer Name</th>
                                <th scope="col" class="px-3 py-3">Username</th>
                                <th scope="col" class="px-3 py-3">Current Address</th>
                                <th scope="col" class="px-3 py-3">Pincode</th>
                                <th scope="col" class="px-3 py-3">Contact</th>
                                <th scope="col" class="px-3 py-3">Status</th>
                                <th scope="col" class="px-3 py-3">Remark</th>
                                <th scope="col" class="px-3 py-3">Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bg-violet-200 border-b border-violet-400 text-black"  *ngFor="let ticket of complaint">
                                <td class="px-3 py-2"></td>
                                <td class="px-3 py-2"><span>{{ticket.id}}</span></td>
                                <td class="px-3 py-2"><span>{{ticket.date}}</span></td>
                                <td class="px-3 py-2"><span>{{ticket.complaint}}</span></td>
                                <td class="px-3 py-2"><span>{{ticket.firstName}} {{ticket.lastName}}</span></td>
                                <td class="px-3 py-2"><span>{{ticket.username}}</span></td>
                                <td class="px-3 py-2"><span>{{ticket.address}}, {{ticket.state}}.</span></td>
                                <td class="px-3 py-2"><span>{{ticket.pinCode}}</span></td>
                                <td class="px-3 py-2"><span>{{ticket.contact}}</span></td>
                                <td class="px-3 py-2"><span>{{ticket.status}}</span></td>
                                <td class="px-3 py-2"><span>{{ticket.remark}}</span></td>
                                <td class="px-3 py-2 "><button class="btn btn-primary" (click)="onClick(ticket.id)">Assign
                                        Engineer</button></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
